name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

env:
  APP_VERSION: ''

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version from package.json
        id: version
        run: |
          APP_VERSION=$(awk -F'"' '/"version": ".+"/{ print $4; exit; }' package.json)
          echo "APP_VERSION=${APP_VERSION}" >> $GITHUB_ENV

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./deployment/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/miniverso:${{ env.APP_VERSION }}
            ${{ secrets.DOCKER_USERNAME }}/miniverso:latest
